.jumbotron {
  background-color:#686DD3;
  color: white;
}

.btn-comprar{
  background-color: #EDEEF9;
  color:#4E58CB;
  width: 100%;
}

.card-producto{
  flex: 1 150px;
  padding: 2px 7px 2px 7px;
  margin-top: 10px;
}

footer{
  margin-top: 20px;
  background-color: #686DD3;
}

footer a{
  color: white;
}

footer p{
  color: white;
}

